<div class="exp-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%), url(
  <% if @experience.image %>
    <%= @experience.image.url %>
  <% else %>
    <%= image_path('bannersun.jpg') %>
  <% end %>);">
  <div class="exp-banner-content">
    <h1> <%= @experience.career %> </h1>
  </div>
</div>

<p></p>
<div class="wrapper">
 <div class="container">
  <h2> Your experience is on its way.</h2>
  <h4> Please, check the experience of your choice and confirm your purchase.</h4>
  <h5> Chosen experience: <%= @experience.career %> </h5>
  <h5> Company: <%= @experience.company.name %> </h5>
  <h5> Details: <%= @experience.description %> </h5>
  <h5> We need to change this <%= @experience.events.first.date %> </h5>
  <h5> Adress: <%= @experience.company.address %> </h5>
  <div class="payment-card">
  <h3><%= number_to_currency(@experience.price_cents/100.0, { unit: "R$", separator: "," }) %></h3>
    <%= link_to booking_path(@experience), method: :get do %><button type="button" class="btn btn-primary">Pay</button> <% end %>
  </div>
 </div>
</div>


