<div class="exp-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%), url(
  <% if @experience.image %>
    <%= @experience.image.url %>
  <% else %>
    <%= image_path('bannersun.jpg') %>
  <% end %>);">
  <div class="exp-banner-content">
    <h1> <%= @experience.career %> </h1>
  </div>
</div>

<div class="container">
  <div class="body-size">
    <div class="row align-items-center">

      <div class="col-sm-12 col-md-6">
        <div class="content-box">
          <h5> Your experience is on its way. Please, check the experience of your choice and confirm your purchase.</h5>
          <p><%= @experience.description %></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
			 <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/wagon/image/upload/v1526053365/hpfe4f4msysebldbokgy.jpg');">
    		<div class="calendar-wrapper">
      		<div id="calendar" data-language="en"></div>
	    		<h5><strong><%= @experience.career %><strong></h5>
	    		<h5><%= @experience.company.name %></h5>
	    		<h6><strong><%= @experience.company.address %></strong></h6>
	    		<h6><strong><%= number_to_currency(@experience.price_cents/100.0, { unit: "R$", separator: "," }) %></strong></h6>
	    		<button class="btn btn-whatever" id="pay-button">Agree and Continue</button>

          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              <%= render(:partial => 'payment', :handlers => [:erb], :formats => [:js]) %>
            <% end %>
          <% end %>
    			
	    		<span style='margin-top: 5px; color: red;' id="text-span"></span>
	    	</div>	
  		  </div> 
      </div>
		</div>
  </div>
</div>
