<div class="container">
	<div class="booking-title">
		<h3> 3- Payment details </h3>
	</div>
	<div class="box-show">
		<div class="booking-details">
			<h2><%= @booking.event.experience.career %></h2>
			<p><em>An experience by <%= @booking.event.experience.company.name %></em></p>
			<p>Your price paid is <%= number_to_currency(@booking.event.experience.price_cents/100.0, { unit: "R$", separator: "," }) %></p>
			<p>Your date is scheduled <%=@booking.event.date %></p>
			<%= link_to my_bookings_users_path, method: :get do %><button type="button" class="btn btn-primary">Go to My Bookings</button> <% end %>
		</div>
	</div>
