<div class="container"><h1 class="text-center mobile-bookings">My Bookings</h1>
 <h3 class="text-center"><%= link_to "Choose your next experience", root_path %></h3>
 </div>
  <div class="container">
     <div class="row">
       <% @bookings.each do |booking| %>
         <div class="col-xs-12 col-sm-6">
           <%= link_to booking_path(booking) do  %>
             <div class="card-my-bookings">
               <div class="card-description-my-bookings">
               <h2><%= booking.event.experience.career %></h2>
               <p> Date: <%= booking.event.date %></p>
               <p> Address: <%= booking.event.experience.company.address %></p>
               </div>
               <div class= "ratings-my">
                 <% 4.times do %>
                 <%# (booking.rating).times do %>
                   <span class="fa fa-star checked"></span>
                 <% end %>
                 <%# (5 - booking.rating).times do %>
                   <span class="fa fa-star"></span>
                 <%# end %>
               </div>
             </div>
        <% end %>
       </div>
     <% end %>
   </div>
 </div>
