<h1 class="text-center">My Experiences</h1>
<div class="content">
	<div class="cards-container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
					<div class="card-category">Completed</div>
					<div class="card-description">
						<h2>Data Scientist</h2>
						<p>Career Overview with introduction to Python, Ruby and data tools. </p>
					</div>
					<div Class= "ratings">Rating:4</div>
					<%= image_tag 'scientist.jpg', class: 'avatar-large' %>
					<a class="card-link" href="#" ></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
					<div class="card-category">Completed</div>
					<div class="card-description">
						<h2>Web Developer</h2>
						<p>HTML, CSS overview and case studies for aspiring web developers.</p>
					</div>
					<div Class= "ratings">Rating:5</div>
					<%= image_tag 'Web.jpg', class: 'avatar-large' %>
					<a class="card-link" href="#" ></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
					<div class="card-category">Completed</div>
					<div class="card-description">
						<h2>UX Designer</h2>
						<p> Overview of job functions, metrics and tools from the most prestigious UX Designers</p>
					</div>
					<div Class= "ratings">Rating:3</div>
					<%= image_tag 'UX.jpg', class: 'avatar-large' %>
					<a class="card-link" href="#" ></a>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
				<div class="card-category">Completed</div>
				<div class="card-description">
					<h2>Data Scientist</h2>
					<p>Career Overview with introduction to Python, Ruby and data tools. </p>
				</div>
				<div Class= "ratings">Rating:5</div>
				<%= image_tag 'scientist.jpg', class: 'avatar-large' %>
				<a class="card-link" href="#" ></a>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
				<div class="card-category">Completed</div>
				<div class="card-description">
					<h2>Web Developer</h2>
					<p>HTML, CSS overview and case studies for aspiring web developers.</p>
				</div>
				<div Class= "ratings">Rating:3</div>
				<%= image_tag 'Web.jpg', class: 'avatar-large' %>
				<a class="card-link" href="#" ></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
				<div class="card-category">Completed</div>
				<div class="card-description">
					<h2>UX Designer</h2>
					<p> Overview of job functions, metrics and tools from the most prestigious UX Designers</p>
				</div>
				<div Class= "ratings">Rating:4</div>
				<%= image_tag 'UX.jpg', class: 'avatar-large' %>
				<a class="card-link" href="#" ></a>
			</div>

		</div>
	</div>
</div>
</div>
</div>
