<div class="navbar-wagon">
  <!-- Logo -->
  <div class="nav-item">
    <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logo-white.png', class: "logo" %>
    </a>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right d-none d-md-block">

    <% if user_signed_in? %>

      <%= link_to "I'm a company", guidelines_experiences_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
        <span class="navbar-wagon-item navbar-wagon-link dropdown">
          <a href="" class="dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">Minha Conta</a>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to dashboard_users_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_profile_users_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </span>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

  </div>

<!-- Dropdown appearing on mobile only -->
  <div class="dropdown navbar-wagon-item d-md-none">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><%= link_to "Homepage", root_path%></li>
      <li><%= link_to "Minha Conta", dashboard_users_path%></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
<div class="navbar-wrapper"></div>
