<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <%= @user.email %>
                    </a>
                </li>
                
                    <% if @user.company %>
                    <li>
                    <em><%= link_to @user.company.name, '#' %></em>
                    </li>
                    <% end %>
                
                
                <li>
                    <%= link_to 'Edit Profile', edit_profile_users_path %>
                </li>
                <li>
                    <% if @user.company %>
                    <%= link_to 'My Experiences', my_experiences_users_path %>
                    <% else %>
                    <%= link_to 'My Bookings', my_bookings_users_path %>
                    <% end %>
                </li>
                <li>
                    <%= link_to 'Invite friends', invite_friends_users_path %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
