
<div class="container">
  <% @experiences.each do |experience| %>
   <ul class="card">
    <li class="message">
      <%= image_tag 'scientist.jpg', class: 'avatar-large' %>
      <div class="message-name">

       <h3><strong><%= experience.name %></strong></h3>
       <p><%= experience.date %></p>
     </div>
     <div class="message-body">
       <p><strong><%= experience.company.name %></strong></p>
       <p><%= experience.description %></p>
    </div>
    <div class="message-status">
      <p class="status pending">Pending</p>
      <p class="price"><%= experience.price_cents %></p>
    </div>
  <% end %>
</div>


<div class="container">
  <% @experiences.each do |experience| %>
  <ul class="card">	
  </li>
  <li class="message">
    <%= image_tag 'Web.jpg', class: 'avatar-large' %>
    <div class="message-name">
      <h3><strong><%= experience.name %></strong></h3>
      <p><%= experience.date %></p>
    </div>
    <div class="message-body">
      <p><strong><%= experience.company.name %></strong></p>
      <p><%= experience.description %></p>
    </div>
    <div class="message-status">
      <p class="status accepted">Confirmed</p>
      <p class="price"><%= experience.price_cents %></p>
    </div>
  </div>
  <% end %>
</div>


<div class="container">
  <% @experiences.each do |experience| %>
    <ul class="card"> 
    </li>
    <li class="message">
    <%= image_tag 'UX.jpg', class: 'avatar-large' %>
    <div class="message-name">
      <h3><strong><%= experience.name %></strong></h3>
      <p><%= experience.date %></p>
    </div>
    <div class="message-body">
      <p><strong><%= experience.company.name %></strong></p>
      <p><%= experience.description %> </p>
    </div>
    <div class="message-status">
      <p class="status declined">Declined</p>
      <p class="price"><%= experience.price_cents %></p>
    </div>
  </li>
</ul>
<% end %>
</div>

<script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
        </script>