<div class="exp-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%), url(
  <% if @experience.image %>
    <%= @experience.image.url %>
  <% else %>
    <%= image_path('bannersun.jpg') %>
  <% end %>);">
  <div class="exp-banner-content">
    <h1> <%= @experience.career %> </h1>
  </div>
</div>
<p></p>

<div class="container">
  <div class="row ">

    <div class="col-xs-12 col-md-6">
      <div class="content-box">
        <h2><%= @experience.career %></h2>
        <h3><%= @experience.company.name %></h3>
        <p><strong><%= @experience.company.address %></strong></p>
        <p><%= @experience.description %></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="exp-dates">
        <div class="calendar-wrapper">
        <div id="calendar" data-language="en"></div>
        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          <%= render(:partial => 'calendar', :handlers => [:erb], :formats => [:js], events: @events) %>
          <% end %>
        <% end %>

        <h3><%= number_to_currency(@experience.price_cents/100.0, { unit: "R$", separator: "," }) %></h3>
          <button class="btn btn-whatever" id="book-button" >Book Now</button>
          <span style='margin-top: 10px; color: red;' id="text-span"></span>
        </div>
      </div>
    </div>
  </div>
</div>
