<div class="exp-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%), url(
  <% if @experience.image %>
    <%= @experience.image.url %>
  <% else %>
    <%= image_path('bannersun.jpg') %>
  <% end %>);">
  <div class="exp-banner-content">
    <h1> <%= @experience.career %> </h1>
  </div>
</div>
<p></p>

<div class="wrapper">
 <div class="container">
  <div class="exp-info">
    <h2><%= @experience.career %></h2>
    <h3><%= @experience.company.name %></h3>
  </div>
  <p></p>
    <p><strong><%= @experience.company.address %></strong></p>
    <p><%= @experience.description %></p>

  <div class="payment-card">
    <div class="calendar-wrapper">
      <div id="calendar" data-language="en"></div>
    <%= javascript_tag do %>
      <%= render(:partial => 'calendar', :handlers => [:erb], :formats => [:js], events: @events) %>
    <% end %>
    </div>
    <h3><%= number_to_currency(@experience.price_cents/100.0, { unit: "R$", separator: "," }) %></h3>
    <%= link_to "Book now", new_experience_event_booking_path(@experience, @events.first), class: "btn-treehouse" %>
      </div>
  </div>
</div>
