<div class="wrapper">
 <div class="container">
  <p></p>
  <h1>Create a new company for <%= current_user.name %></h1>
  <%= simple_form_for @company do |f| %>
  <%= f.input :name %>
  <%= f.input :address, label_method: :field_1 %>
  <%= f.button :submit, class: "btn btn-whatever" %>
  <% end %>
</div>
</div>
