<div class="container text-center">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>
      <div class="facebook-login">
        <% unless current_user %>
          <%= link_to user_facebook_omniauth_authorize_path do %>
            <button class="loginBtn loginBtn--facebook">Login with Facebook</button>
          <% end %>
        <% else %>
          <%= current_user[:name] %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


